/* .wrapper {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
} */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 800px;
}

.title {
  padding-bottom: 20px;
}